<!DOCTYPE html>
    <html lang="en">
         <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="description" content="Tempi di prenotazione delle prestazioni sanitarie - Vermerkzeiten für ärztliche Dienstleistungen ">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

             <meta name="twitter:title" content="Tempi di prenotazione - Vormerkzeiten" />
            <meta name="twitter:description" content="Tempi di prenotazione delle prestazioni sanitarie - Vormerkzeiten für ärztliche Dienstleistungen" />
            <meta name="twitter:image" content="https://tempi-attesa.herokuapp.com/static/rawpixel-974571-unsplash.jpg" />
             <meta name="twitter:card" content="summary_large_image" />

            <!-- Bootstrap CSS -->
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         </head>
        <body>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            <script>
                $(document).ready(function(){
                    $('.popovermenu').popover();
                        container: 'body'
                });
                $('.popovermenu').popover({
                  trigger: 'focus'
                })

            </script>

        </body>
  </html>