{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Tempi di prenotazione delle prestazioni sanitarie </h1>
    <p>L'elenco fornisce il tempo medio di attesa aggiornato per prenotazioni delle prestazioni sanitarie. </p>
    <p>I dati sono ricavati da <a href="http://dati.retecivica.bz.it/it/dataset/southtyrolean-healthservices-waitingtimes"> Open Data Alto Adige</a>.   </p>
    <a href="https://github.com/abonte/southtyrolean-healthservices-waitingtimes">
        <img src="static/GitHub-Mark-64px.png" alt="GitHub project" height="22" width="22">
    </a>
</div>

<form class="justify-content-center" method="POST" action="/submit ">
    <!-- {{ form.csrf_token }} -->
    <div class="input-group">
        {{ form.name.label(class_="sr-only") }} {{ form.name(class_="form-control form-control",
        placeholder="Prestazione sanitaria",
        list="services",
        onchange="this.form.submit()")}}

        <datalist id="services">
            {% for service in services %}
                <option value="{{service}}">
            {% endfor %}            
        </datalist> 

        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </span>
    </div>
</form>

<div class="list-group mt-4">
    {% for post in posts %}

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mt-2">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ post['activityDescriptionIt'] }} </h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">{{ post['citiyIt'] }} - {{ post['structureDescriptionIt'] }}, {{ post['structureDescriptionIt']}} - {{ post['waitingDays'] }} giorni</p>
        <small class="text-muted">{{ "Le prenotazioni sono accettate con priorità" if post['priorityList'] else "Le prenotazioni NON sono accettate con priorità" }}</small>
            <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ post['waitingDaysPer'] }}%" aria-valuenow= {{ post[
                        'waitingDays'] }} aria-valuemin="0" aria-valuemax="100">{{ post['waitingDays'] }} giorni</div>
            </div>
      </a>  
{% endfor %} 
</div>
{% endblock %}