{% extends "base.html" %}
{% block content %}

    <div class="jumbotron">
        <small style="display: block">
            <a href= "{{ url_for('index', lang_code='it') }}">IT</a> <a href= "{{ url_for('index', lang_code='de') }}">DE</a>
        </small>
        <h1 style="display: inline">{{ _('Tempi di prenotazione delle prestazioni sanitarie') }} </h1> <span class="badge badge-info">BETA</span>

        <p>{{ _('L\'elenco fornisce il tempo medio di attesa aggiornato per prenotazioni delle prestazioni sanitarie') }}. </p>

        <a tabindex="0" role="button" class="btn btn-info btn-sm popovermenu"
           data-toggle="popover"
           data-trigger="focus"
           data-placement="bottom"
           data-html="true"
           data-content="{{ _('I dati sono ricavati da') }}
                        <a href='http://dati.retecivica.bz.it/it/dataset/southtyrolean-healthservices-waitingtimes'> Suedtirol Open Data Alto Adige</a>
                        <img src='{{ url_for('static', filename = 'external-link.svg') }}' alt='external link'>
                        <br>
                        {% if locale == 'it' %}
                        <a href='http://www.sabes.it/it/tempi-di-prenotazione.asp'>
                            {% else %}
                        <a href='http://www.sabes.it/de/vormerkzeiten.asp'>
                            {% endif  %}
                        {{ _('Maggiori informazioni') }} <img src='{{ url_for('static', filename = 'external-link.svg') }}' alt='external link'> </a>
            ">
            {{ _('Informazioni') }}
        </a>
        <a tabindex="0" role="button" class="btn btn-warning btn-sm popovermenu"
           data-toggle="popover"
           data-trigger="focus"
           data-placement="bottom"
           data-html="true"
           data-content="{{ _('Le prestazioni urgenti vengono immediatamente garantite.
               I tempi di attesa qui pubblicati si riferiscono a quanto emerso in un dato momento dello specifico giorno della rilevazione.
               Essi possono quindi variare, tendendo verso l\'alto o verso il basso.') }}
                <br>
                  {% if locale == 'it' %}
                     <a href='http://www.sabes.it/it/tempi-di-prenotazione.asp' target='_blank'>
                  {% else %}
                      <a href='http://www.sabes.it/de/vormerkzeiten.asp' target='_blank'>
                  {% endif  %}
               {{ _('Maggiori informazioni') }} <img src='{{ url_for('static', filename = 'external-link.svg') }}' alt='external link'> </a>
            ">
            {{ _('Avvertenze') }}
        </a>


        <a href="https://github.com/abonte/southtyrolean-healthservices-waitingtimes" target="_blank">
            <img src="{{ url_for('static', filename = 'GitHub-Mark-64px.png') }}" alt="GitHub project" height="22" width="22">
        </a>
    </div>


    {% if check %}
    <form class="justify-content-center" method="POST" action="{{ url_for('index', lang_code=locale) }}">
        <!-- {{ form.csrf_token }} -->
        <div class="input-group">
            {{ form.name.label(class_="sr-only") }} {{ form.name(class_="form-control form-control",
            placeholder=gettext('Prestazione sanitaria'),
            list="services",
            onchange="this.form.submit()")}}

            <datalist id="services">
                {% for service in services %}
                    <option value="{{service}}">
                {% endfor %}
            </datalist>

            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-lg">{{ _('Cerca') }}</button>
            </span>
        </div>
    </form>


    <div class="list-group mt-4">
        {% for service in resultServices %}

        <div class="list-group-item list-group-item-action flex-column align-items-start mt-2" data-toggle="modal" data-target="#Modal-{{"".join(service['structureDescription'].split()) }}-{{ "".join(service['activityDescription'].split()) }}">
            <div class="d-flex w-100 justify-content-between">

              <h5 class="mb-1" style="display: inline" >{{ service['activityDescription'] }} <img src="{{ url_for('static', filename = 'chevron-right.svg') }}" alt="chevron right" style="margin-left: 5px;width:10px;height:10px;"></h5>

              <!-- <small class="text-muted">3 days ago</small> -->
            </div>
            <p class="mb-1">
                {{ service['city'] }} - {{ service['structureDescription'] }}
                -
                {% if  service['waitingDays']!=-1%}
                    {{ service['waitingDays']}}  {{_('giorni')}}
                {% else %}
                    {{_('Tempo di prenotazione non disponibile')}}
                {% endif %}
                {% if service['phone'] %}
                <a href="tel:{{ service['phone'] }}">
                    <img src="{{ url_for('static', filename = 'phone.svg') }}" alt="phone" style="width:16px;height:16px;">
                </a>
                {% endif%}
                {% if service['mail']  %}
                <a href="mailto:{{ service['mail'] }}">
                    <img src="{{ url_for('static', filename = 'envelope-closed.svg') }}" alt="envelope" style="width:16px;height:16px;">
                </a>
                {% endif%}
            </p>
            {% if service['info'] %}
                Info: {{service['info']  }} -
            {% endif%}
            {% if service['SurveyDate'] %}
               {{ _('Data rilevazione:') }}  {{ service['SurveyDate'] }}
            {% endif%}
            <br>
            <small class="text-muted">{{ _('Le prenotazioni sono accettate con priorità') if service['priorityList']=='true' else _('Le prenotazioni NON sono accettate con priorità') }}</small>
                <div class="progress">
                    {% if  service['waitingDays']!= None %}
                        <div class="progress-bar" role="progressbar" style="width: {{ service['waitingDaysPer'] }}%" aria-valuenow= {{ service[
                            'waitingDays'] }} aria-valuemin="0" aria-valuemax="100">
                            {{ service['waitingDays']}}  {{_('giorni')}}
                        </div>
                     {% else %}
                        {{_('Tempo di prenotazione non disponibile')}}
                     {% endif %}
                </div>
        </div>


                    <!-- Modal -->
        <div class="modal fade" id="Modal-{{"".join(service['structureDescription'].split()) }}-{{ "".join(service['activityDescription'].split()) }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ service['activityDescription'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p class="text-left">
                      <p class="h3">{{ _('Struttura') }}</p>
                      {{ service['structureDescription'] }}
                      <br/>
                      {{ service['addressName'] }}
                      <br/>
                      {{ service['street'] }}
                      <br/>
                      {{ service['zip'] ~ ' ' ~ service['city'] }}
                      <br/>
                        {% if service['coordinates']  %}
                            <a href="https://www.openstreetmap.org/?mlat={{ service['coordinates']['lat'] }}&mlon={{service['coordinates']['long'] }}#map=18/{{ service['coordinates']['lat'] }}/{{service['coordinates']['long'] }}" target="_blank">
                        {%  else %}
                             <a href="https://www.openstreetmap.org/search?query={{ service['structureDescription'].replace('S.','').replace('St.','') }}" target="_blank">
                        {% endif %}
                        {{ _('Vedi sulla mappa') }}</a>
                        <br/>
                      <br/>
                      {{ _('Orario di apertura') }} : {{ service['openinghours'] }}
                      <br/>
                      <br/>
                      <p class="h3">{{ _('Punto di contatto per le prenotazioni') }}</p>
                      <br/>
                      {{ service['contactName'] }}
                      <br/>
                      {{ _('Telefono') }}: <a href="tel:{{ service['phone'] }}"> {{ service['phone'] }} </a> {{ _('Fax') ~ ': ' ~ service['fax'] if service['fax'] else ' ' }}
                      <br/>
                      <a href="mailto:{{ service['mail'] }}">{{ service['mail'] if service['mail'] else ' '}}</a>
                      <br/>
                      {% if locale == 'it' %}
                          <a role="button" class="btn btn-outline-primary" href="https://prenotazioneonline.asdaa.it/cupp/Home?request_locale=it" target="_blank">
                      {% else %}
                          <a role="button" class="btn btn-outline-primary" href="https://prenotazioneonline.asdaa.it/cupp/Home?request_locale=de" target="_blank">
                      {% endif %}
                        {{ _('Prenota online') }} <img src='{{ url_for('static', filename = 'external-link.svg') }}' alt='external link'>

                      </a>

                      <br/>
                      <br/>
                      <p class="h5">{{ _('Info') }}</p>
                      {% if service['info'] %}
                          {{service['info']  }} <br/>
                      {% endif%}
                      {{ _('Le prenotazioni sono accettate con priorità') if service['priorityList']=='true' else _('Le prenotazioni NON sono accettate con priorità') }}
                      <br/>
                      <br>
                      {{ service['SurveyDescription'] }}
                      <br>
                      {% if service['SurveyDate'] %}
                          {{ _('Data rilevazione:') }}  {{ service['SurveyDate'] }}
                      {% endif%}

                  </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Chiudi') }}</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

    {% else %}
        <div class="alert alert-danger" role="alert">
          I dati non sono disponibili! Errore nel webservice che contiene i dati.
        </div>
    {% endif %}
    </div>

{% endblock %}